@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body{
	background-color: #9C9C9C;
	font-family: 'Ubuntu', cursive;
	font-size: 1em;
}

.jumbotron, .card{
	border-radius: 0px !important;
}

.fundo--tomato{
	background-color: 
}